<h3 class="text-center mt-5">請修改你的支出</h1>


  <div class="container">
    <form action="/records/{{record._id}}?_method=PUT" method="POST" class="needs-validation" novalidate>
      <div class="row m-3">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <label for="name">名稱</label>
          <input name='name' type="text" class="form-control " id="name" value="{{record.name}}" required>
        </div>
      </div>

      <div class="row m-3">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <label for="date">日期</label>
          <input name="date" type="date" class="form-control" id="date" value="{{record.date}}" required>
        </div>
      </div>

      <div class="row m-3">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <label for="category">類別</label>
          <select class="form-control" id="category" name='category' required>
            <option {{#eq record.category '家居物業' }}selected{{/eq}} value='家居物業'>家居物業</option>
            <option {{#eq record.category '交通出行' }}selected{{/eq}} value='交通出行'>交通出行</option>
            <option {{#eq record.category '休閒娛樂' }}selected{{/eq}} value='休閒娛樂'>休閒娛樂</option>
            <option {{#eq record.category '餐飲食品' }}selected{{/eq}} value='餐飲食品'>餐飲食品</option>
            <option {{#eq record.category '其他' }}selected{{/eq}} value='其他'>其他</option>
          </select>
        </div>
      </div>

      <div class="row m-3">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <label for="amount">金額</label>
          <input name="amount" type="number" min='0' class="form-control" id="amount" value="{{record.amount}}"
            required>
        </div>
      </div>

      <div class="d-flex p-4 bd-highlight d-flex justify-content-center">
        <button type="submit" class="btn btn-success mb-5">送出</button>
      </div>
    </form>
  </div>